@font-face {
    font-family: 'OPPOSans-R';
    src: url('font/OPPOSans-R.woff') format('woff');
}

body::-webkit-scrollbar {
    display: none;
} 
body {
    margin: 0;
    padding: 0;
    font-family: OPPOSans-R, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(245, 209, 179);
    cursor: pointer;
}


#navBar {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;

    /* border:2px solid black; */
    background-color: rgb(255,255,255,0.7);
    

    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas: '. left right .';
    justify-items: stretch;
    align-items: stretch;
    align-content: center;
    
    visibility: hidden;

    z-index: 9;
}
@keyframes navColor{
   0% {background-color: transparent;}
   100% {background-color: rgb(255,255,255,0.7);}
}
#navLeft {
    grid-column-start: left-start;
    grid-column-end: left-end;
    z-index: 0;
}
#navParts,
#navTop {
    grid-column-start: right-start;
    grid-column-end: right-end;
    display: flex;
    justify-content: flex-end;
}
#navParts span {
    margin-left: 5px;
}



.section,
.fq-Section,
.fq-table{
    margin: 0;
    padding: 0;
}


#welcomePage {
    margin: 0;
    padding: 0;
}    
#welcomePage img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 10;
}
#welcomePage .fp-tableCell{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}



#waterfallPage {
    margin: 0;
    padding: 0;
}
.bookCover{
    margin: 0;
    padding: 0;
    position: absolute;
}
.bookCover img{
    border-radius: 25px;
    background: #fef3de;
    box-shadow:  6px 6px 14px #b2aa9b;
    /* , 
                -6px -6px 14px #ffffff; */
    z-index:-2;
}



.whiteBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.7;
    z-index: 1;
}

#detailsPage,#detailsPage2 {
    margin: 0;
    padding: 0;
    /* border: 3px dashed chartreuse; */
    
}
/*用了插件之后就会有这个类名的容器在section类的内部*/
#detailsPage .fp-tableCell,
#detailsPage2 .fp-tableCell{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;/**/
}

.bookDetail,
.bookDetail2{
    width: 100%;/**/
    height: 400px;/**/
    /* border: 2px dashed blue; */
    z-index: 3;
}

.contentContainer ,
.contentContainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contentContainer ,
.contentContainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.leftBook .contentContainer .title,
.leftBook .contentContainer2 .title2{
    display: flex;
    justify-content: flex-end;
    animation: leftFadeInTitle 3s;
}
.rightBook .contentContainer .title,
.rightBook .contentContainer2 .title2{
    display: flex;
    justify-content: flex-start;
    animation: leftFadeInTitle 3s;
}

.contentContainer .title img,
.contentContainer2 .title2 img{
    height: 300px;
    width: auto;/* 342.86px 对应js里面titleImgWidth 修改时候注意 */
    z-index: 8;
}

/* .contentContainer .divideLine,
.contentContainer2 .divideLine2{
    margin: 10px 0;
    width: 120px;
    height: 4px;
    background-color:blueviolet;
    animation: leftFadeInLine 3.5s;
} */
.leftBook .contentContainer .content,
.leftBook .contentContainer2 .content2{
    width: 100%;
    font-size: 25px;
    word-break: break-all;
    display: flex;
    justify-content: flex-end;
    animation: leftFadeInContent 4s;
}
.rightBook .contentContainer .content,
.rightBook .contentContainer2 .content2{
    width: 100%;
    font-size: 25px;
    word-break: break-all; 
    display: flex;
    justify-content: flex-start;
    animation: leftFadeInContent 4s;
}

/*以下是左侧的书*/
.leftBook .picture,
.leftBook .picture2{
    position: absolute;
    z-index: 3;
}
.leftBook .picture img,
.leftBook .picture2 img{
    width: 200px;/**/
    height:300px;/**/
    border-radius: 4px;
    animation: fadeIn linear 2s;
}
.leftBook .pictureBackground,
.leftBook .pictureBackground2{
    width: 220px;
    height:320px;
    position: absolute;
    border-radius: 4px;
    z-index: 2;
}
.leftBook .pictureBackground .pic,
.leftBook .pictureBackground2 .pic{
    animation: leftFromLeft linear 1s;
}
.leftBook .pictureBackground {
    background-color: #000000;
}
.leftBook .pictureBackground2 {
    background-color: #0071af;
}

.leftBook .contentContainer,
.leftBook .contentContainer2{
    height: 300px;
    position: absolute;
    /* border: 2px dashed green; */
    z-index: 1;
}

@keyframes rotateBackLeft
{
   0% {transform:rotate(-40deg);}
   55% {transform: rotate(-40deg);}
   100% {transform: rotate(0deg);}
}
@keyframes fadeIn
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes leftFromLeft
{
    0%{width: 0;}
    100%{width: 100%;}
}
@keyframes leftFromRight
{
    0% {right:-112%}
    100%{right:0}
}
@keyframes leftFadeInTitle
{
    0%{opacity: 0;transform: translateX(0);}
    23%{opacity: 0;transform: translateX(-20px);}
    100%{opacity: 1;}
}
@keyframes leftFadeInLine
{
    0%{width: 0;}
    85.7%{width: 0;}
    100%{width: 100px;}
}
@keyframes leftFadeInContent
{
    0%{opacity: 0;transform: translateX(0px);}
    87.5%{opacity: 0;transform: translateX(-20px);}
    100%{opacity: 1;}
}


/*以下是右侧的书*/
.rightBook .picture,
.rightBook .picture2{
    position: absolute;
    z-index: 3;
}
.rightBook .picture img,
.rightBook .picture2 img{
    width: 200px;/**/
    height:300px;/**/
    border-radius: 4px;
    animation: fadeIn linear 2s;
}
.rightBook .pictureBackground,
.rightBook .pictureBackground2{
    width: 220px;
    height:320px;
    position: absolute;
    border-radius: 4px;
    /* animation: rightFromLeft linear 4s; */
    z-index: 2;
}
.rightBook .pictureBackground{
    background-color:#3f0f5b;
}
.rightBook .pictureBackground2{
    background-color: #a52b28;
}

.rightBook .contentContainer,
.rightBook .contentContainer2{
    height: 300px;
    position: absolute;
    /* border: 2px dashed green; */
    z-index: 1;
}

.rightBook .content,
.rightBook .content2{
    width: 100%;
    font-size: 25px;
    word-break: break-all;
    animation: rightFadeInContent 8s
}

@keyframes rotateBackRight{
    0% {transform:rotate(40deg);}
    85% {transform: rotate(40deg);}
    100% {transform: rotate(0deg);}
 }
@keyframes rightFromRight
{
    0% {left: 125%;}
    100% {right: 85%;}
}
@keyframes rightFromLeft
{
    0% {left:112%}
    100%{left:85%}
}
@keyframes rightFadeInTitle
{
    0%{opacity: 0;transform: translateX(0);}
    57%{opacity: 0;transform: translateX(0);}
    93%{opacity: 0;transform: translateX(-20px);}
    100%{opacity: 1;}
}
@keyframes rightFadeInLine
{
    0%{width: 0;}
    93%{width: 0;}
    100%{width: 100px;}
}
@keyframes rightFadeInContent
{
    0%{opacity: 0;transform: translateX(0px);}
    50%{opacity: 0;transform: translateX(0px);}
    93.75%{opacity: 0;transform: translateX(-20px);}
    100%{opacity: 1;}
}




footer {
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
    width: 100%;

}
footer img {
    width:100%;
    height: auto;
    position: absolute;
    z-index: 10;
}
#copyRight {
    width: 100%;
    height: auto;
    text-align: center;
}